@tailwind base;
@tailwind components;
@tailwind utilities;

.title-s-font{
  font-weight: 500;
	font-size: 13px;
	line-height: 1;
	color: #2D3B87;
}
.text-l-font{
	font-weight: 400;
	font-size: 15px;
	line-height: 1;
	color: #969DC3;
}
.text-card-grey{
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	color: #969DC3;
}
.text-title-m{
	font-weight: 500;
	font-size: 15px;
	line-height: 1.35;
	color: #2D3B87;
}
.text-card-m{
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	color: #616CA5;
}
.text-card-m-blue{
	font-weight: 400;
	font-size: 13px;
	line-height: 1;
	color: #2D3B87;
}
.text-desc-blue{
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5;
	color: #2D3B87;
}
.text-price-blue{
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	color: #2D3B87;
}
.text-add-button{
	font-weight: 500;
	font-size: 15px;
	line-height: 1;
	color: #2D3B87;
}
.text-add-button-dis{
	font-weight: 500;
	font-size: 15px;
	line-height: 1;
	color: #ffffff;
}
@layer base{
  }